<!-- <md-toolbar class="filterBar" style="min-height:37px">
	<div class="md-toolbar-tools" style="height:37px" >
		<!-- To be defined 
	</div>
</md-toolbar> -->
<md-subheader class="md-no-sticky">
	Latest Activity
</md-subheader>
<md-divider></md-divider>
<md-content>
	<md-progress-linear data-ng-if="loading" md-mode="query"></md-progress-linear>
	<!-- infinite-scroll="ctrl.loadMore()" -->
	<md-list flex="100" ng-repeat="card in cards._embedded['ora:flowcard']"
	infinite-scroll-distance="1"
	infinite-scroll-parent="true"
	infinite-scroll-disabled="cards.total == cards.count || isLoadingMore"
	infinite-scroll-immediate-check="false">
	<md-list-item class="md-3-line md-padding">
		<flow-icon type="card.type"></flow-icon>
		<div class="md-list-item-text md-padding">
			<p class="flow-type">{{card.type | flowTypeLabel}}</p>
			<h1 class="flow-title"  >{{card.title}}</h1>
			<p class="flow-description justify padding-right-30">{{card.content.description}}</p>
			<br ng-if="card.type == 'ItemClosed'"/>

			<div class="flow-description justify padding-right-30" ng-if="card.type == 'ItemClosed'">
				<p class="flow-description justify padding-right-30">
					Total credits: {{card.content.extraData.total}}
				</p>

				<table class="summary">
					<thead>
						<tr><th>User</th><th>Share %</th><th>Value </th><th>Gap %</th></tr>
					</thead>
					<tbody>
						<tr ng-repeat="share in card.content.extraData.shares">
							<td>{{ share['name'] }}</td>
							<td>{{ share['share'] }}</td>
							<td>{{ share['value'] }}</td>
							<td>{{ share['gap'] }}</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
		<div layout="column">
			<p am-time-ago="card.createdAt" class="p-size"></p>
			<md-button ng-click="ctrl.route(card, 'primary')" class="md-icon-button">
				<md-icon style="font-size: 36px;" class="material-icons">&#xE315;</md-icon>
			</md-button>
		</div>
	</md-list-item>
	<md-divider style="margin-left: 70px;"></md-divider>
</md-list>
<div layout="row" layout-align="center">
    <md-button 
        aria-label="Load More"
        class="md-raised md-primary md-button md-ink-ripple"
        data-ng-if="cards._embedded['ora:flowcard'].length < cards.total" 
        data-ng-click="loadMore()">
        LOAD MORE
    </md-button>
</div>
<div style="height: 48px;"></div>
</md-content>
