<div data-ng-if="menu.open" class="tooltip" style=" width: 120px;right:85px;bottom: 142px;">
    Create Work Item
</div>
<div data-ng-if="menu.open" class="tooltip" style=" width: 120px;right:85px;bottom: 194px;">
    Create Decision Item
</div>
<md-fab-speed-dial md-open="menu.open" md-direction="up" class="md-scale ora-fab" ng-if="lanes && !decisions">
    <md-fab-trigger>
        <md-button aria-label="Item Menu" class="md-fab md-warn md-hue-1">
            <md-icon md-svg-icon="add"></md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button aria-label="New Item" class="md-fab md-raised md-mini" ng-click="ctrl.openNewItem($event, false, 'workItem')"
            ng-if="ctrl.isAllowed('createItem', organization)">
            <md-icon md-svg-icon="addItem" title="New Item" style="color: black"></md-icon>
        </md-button>
        <md-button aria-label="New Decision" class="md-fab md-raised md-mini" ng-click="ctrl.openNewItem($event, true, 'decisionItem')"
            ng-if="ctrl.isAllowed('createItem', organization)">
            <i class="material-icons" title="New Item" style="margin-top: 6px; color: black">&#xE90E;</i>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>
<md-toolbar class="filterBar" style="min-height:37px">
    <div class="md-toolbar-tools" style="height:37px">
        <md-button aria-label="Filter" ng-click="showFilter=!showFilter">
            <md-icon class="material-icons">&#xE152;</md-icon>
            <span style="text-transform: uppercase;font-size: 10px;font-weight:600">Filter items</span>
        </md-button>
        <h2 flex></h2>
        <md-button aria-label="Filter" ng-click="showOrder=!showOrder">
            <md-icon class="material-icons">&#xE164;</md-icon>
            <span style="text-transform: uppercase;font-size: 10px;font-weight:600">Sort items</span>
        </md-button>
    </div>
</md-toolbar>
<md-content class="filterBar" style="padding:12px" ng-show="showFilter">
    <div layout="row">
        <div flex>
            <span class="font-size12" style="text-transform: uppercase;font-size: 10px;font-weight:600">by status</span>
            <span style="display: inline-block; position:relative;padding:2px;vertical-align:middle" class="font-size12">
                <md-select data-ng-model="filtersStatus" data-ng-change="updateFiltersStatus()" style="margin:0">
                    <md-option data-ng-selected="filtersStatus === 'All'" ng-value="All">All</md-option>
                    <md-option ng-repeat="status in ITEM_STATUS" data-ng-selected="filtersStatus === status" ng-value="status">{{ status | itemStatusLabel }}
                    </md-option>
                </md-select>
            </span>
            <span class="font-size12"> and </span>
            <span style="display: inline-block; position:relative;padding:2px;vertical-align:middle" class="font-size12">
                <md-select ng-model="filtersMemberId" data-ng-change="updateFiltersMemberId()" placeholder="All Items" style="margin:0">
                    <md-option data-ng-selected="!filtersMemberId" ng-value="null">All Items</md-option>
                    <md-option data-ng-selected="filtersMemberId === currentUserId" ng-value="currentUserId">My Items</md-option>
                </md-select>
            </span>
        </div>
        <div style="max-width:40px">
            <md-button class="md-icon-button" aria-label="chiudi" ng-click="showFilter=false">
                <md-icon style="color:rgba(0,0,0,0.87);" class="material-icons font-size20">&#xE5CD;</md-icon>
            </md-button>
        </div>
    </div>
</md-content>
<md-content class="filterBar" style="padding:12px" ng-show="showOrder">
    <div layout="row">
        <div flex>
            <span style="text-transform: uppercase;font-size: 10px;font-weight:600">by</span>
            <span style="display: inline-block; position:relative;padding:2px;vertical-align:middle" class="font-size12">
                <md-select data-ng-model="sorting" data-ng-change="updateSorting()" style="margin:0">
                    <md-option data-ng-selected="sorting === 'mostRecentEditAt_desc'" value="mostRecentEditAt_desc">Last modified up</md-option>
                    <md-option data-ng-selected="sorting === 'mostRecentEditAt_asc'" value="mostRecentEditAt_asc">Last modified down</md-option>
                    <md-option data-ng-selected="sorting === 'position_desc'" value="position_desc">Top priority up</md-option>
                    <md-option data-ng-selected="sorting === 'position_asc'" value="position_asc">Top priority down</md-option>
                </md-select>
            </span>
        </div>
        <div style="max-width:40px">
            <md-button class="md-icon-button" aria-label="chiudi" ng-click="showOrder=false">
                <md-icon style="color:rgba(0,0,0,0.87);" class="material-icons font-size20">&#xE5CD;</md-icon>
            </md-button>
        </div>
    </div>

</md-content>
<md-progress-linear data-ng-if="loadingItems" md-mode="query"></md-progress-linear>
<md-card data-ng-click="goToDetail($event,item)" class="mobile-item" ng-repeat="item in items._embedded['ora:task']"
    infinite-scroll-distance="1" infinite-scroll-parent="true" infinite-scroll-disabled="items.total == items.count || isLoadingMore"
    infinite-scroll-immediate-check="false">
    <md-card-header card="item" class="">
        <md-card-media class="mobile-item__media" layout="column" layout-align="start end">
            <div ng-show="item.status != ITEM_STATUS.OPEN">
                <div>
                    <img class="mobile-item__media__image" ng-src="{{ getOwnerAuthor(item).picture || 'img/account.jpg' }}" alt="{{ getOwnerAuthor(item).firstname }} {{ getOwnerAuthor(item).lastname}}" title="{{ getOwnerAuthor(item).firstname }} {{ getOwnerAuthor(item).lastname}}">
                </div>
            </div>
            <div ng-show="item.status == ITEM_STATUS.OPEN && showPriority(item)">
              <div class="mobile-item__media__priority">{{item.position}}</div>
              <p class="mobile-item__media__role">priority</p>
            </div>
        </md-card-media>

        <md-card-header-text>
            <p class="mobile-item__title" style="min-height: 25px">
              {{ item.subject }}
            </p>
        </md-card-header-text>
    </md-card-header>
    <div layout="row">
        <span class="mobile-item__lane">
            {{ lanesNames[item.lane] }}
        </span>
    </div>
    <div layout="row">
        <div class="mobile-item__meta">
            <div class="mobile-item__meta__name">
              <span class="mobile-item__media__role">{{getRole(item)}}</span>
              <span class="mobile-item__media__name">{{ getOwnerAuthor(item).firstname }} {{ getOwnerAuthor(item).lastname}}</span>
            </div>
            <div class="mobile-item__meta__icons">
              <span data-ng-class="{'mobile-item__meta__icon-container--active': getItemMembersNumber(item) >= 3}" class="mobile-item__meta__icon-container">
                <i data-ng-class="{'mobile-item__meta__icon-inner--active': getItemMembersNumber(item) >= 3}" class="mobile-item__meta__icon-inner material-icons">people</i>
                <span data-ng-class="{'mobile-item__meta__icon-number--active': getItemMembersNumber(item) >= 3}" class="mobile-item__meta__icon-number">{{getItemMembersNumber(item)}}</span>
              </span>
              <i data-ng-class="{'mobile-item__meta__icon--active': !!item.estimation}" class="mobile-item__meta__icon material-icons">assessment</i>
              <i data-ng-class="{'mobile-item__meta__icon--active': isShared(item)}" class="mobile-item__meta__icon material-icons">shuffle</i>
            </div>
        </div>
    </div>
    <div class="mobile-item__status">
        <div class="mobile-item__status__divider mobile-item__status__divider--one"></div>
        <div class="mobile-item__status__divider mobile-item__status__divider--two"></div>
        <div class="mobile-item__status__divider mobile-item__status__divider--three"></div>
        <div class="mobile-item__status__divider mobile-item__status__divider--four"></div>
        <div class="mobile-item__status__divider mobile-item__status__divider--five"></div>
        <div class="mobile-item__status__label {{item.status | itemStatusLabel}}">
            {{item.status | itemStatusLabel}}
        </div>
    </div>
    <div title="{{getTooltipDecInv(item)}}" style="cursor: default;">
        <div class="mobile-item__decision" data-ng-show="item.decision === 'true'">
          <span>Decision</span>
        </div>
        <div data-ng-if="checkImIn(item)" class="mobile-item__involved">
            <i class="mobile-item__involved__icon material-icons">account_circle</i>
        </div>
    </div>
</md-card>
<div layout="row" layout-align="center">
    <md-button aria-label="Load More" class="md-raised md-primary md-button md-ink-ripple" data-ng-if="items._embedded['ora:task'].length < items.total"
        data-ng-click="loadMore()">
        LOAD MORE
    </md-button>
</div>

<div class="space-at-end"></div>
