<md-progress-linear data-ng-if="busy || loading" md-mode="query"></md-progress-linear>
<md-card data-ng-if="!busy">
	<md-card-header style="margin-top: -10px;">
		<md-card-header-text ui-sref="org.item({ orgId: item.organization.id, itemId: item.id })">

			<span style="text-transform: uppercase;" class="md-subhead">{{item.decision === 'true' ? 'Decision' : ''}}</span>
			
			<div layout="row">
				<div flex>
					<span style="font-size: 26px;">{{ item.subject }}</span>

				</div>
				<div flex="none">
					<md-menu data-ng-if="ctrl.hasMore(item)">
						<md-button aria-label="Open management actions" class="md-icon-button" ng-click="ctrl.openMenu($mdMenu, $event)">
							<md-icon md-menu-origin>&#xE5D4;</md-icon>
						</md-button>
						<md-menu-content width="4">
							<md-menu-item data-ng-if="ctrl.isAllowed('backToIdea', item)">
								<md-button ng-click="ctrl.backToIdea($event,item)">
									<md-icon>&#xE166;</md-icon>
									Back To Idea
								</md-button>
							</md-menu-item>

							<md-menu-item data-ng-if="ctrl.isAllowed('backToOpen', item)">
								<md-button ng-click="ctrl.backToOpen($event,item)">
									<md-icon>&#xE166;</md-icon>
									Back To Open
								</md-button>
							</md-menu-item>

							<md-menu-item data-ng-if="ctrl.isAllowed('backToOngoing', item)">
								<md-button ng-click="ctrl.backToOngoing($event,item)">
									<md-icon>&#xE166;</md-icon>
									Back To Ongoing
								</md-button>
							</md-menu-item>

							<md-menu-item data-ng-if="ctrl.isAllowed('backToCompleted', item)">
								<md-button ng-click="ctrl.backToCompleted($event,item)">
									<md-icon>&#xE166;</md-icon>
									Back To Completed
								</md-button>
							</md-menu-item>

							<md-menu-item data-ng-if="ctrl.isAllowed('backToAccepted', item)">
								<md-button ng-click="ctrl.backToAccepted($event,item)">
									<md-icon>&#xE166;</md-icon>
									Back To Accepted
								</md-button>
							</md-menu-item>

							<md-menu-divider data-ng-if="ctrl.isAllowed('deleteItem', item) && (ctrl.isAllowed('backToOngoing', item) || ctrl.isAllowed('backToOpen', item) || ctrl.isAllowed('backToIdea', item))"></md-menu-divider>
							<md-menu-item data-ng-if="ctrl.isAllowed('deleteItem', item)">
								<md-button ng-click="ctrl.deleteItem($event,item)" class="md-warn">
									<md-icon>&#xE92B;</md-icon>
									Delete
								</md-button>
							</md-menu-item>


						</md-menu-content>
					</md-menu>

				</div>
			</div>

			<p ng-if="item.laneName && !item.withoutLane" style="text-transform: uppercase; font-size: 16px;">{{ item.laneName }}</p>
			<p ng-if="item.withoutLane" style="text-transform: uppercase; font-size: 18px; background-color: rgb(255,82,82);color:#FFFFFF; padding:3px;">ITEM WITHOUT LANE</p>

			<div layout="row" class="margin-bottom-20" ng-if="item.status <= ITEM_STATUS.OPEN">
				<img ng-click="goToProfile(author.id)" class="margin-right-20" style="max-width: 60px; max-height: 60px; border-radius: 50%; cursor: pointer;"
				 ng-src="{{ author.picture || 'img/account.jpg' }}">
				<div>
					<p class="no-margin no-padding" style="font-size: 14px;">author:</p>
					<p class="no-margin no-padding warn" data-ng-click="goToProfile(author.id)" style="font-size: 14px; cursor: pointer;">
						{{ author.firstname }} {{ author.lastname }}
					</p>

				</div>
			</div>
			<div layout="row" class="margin-bottom-20" ng-if="item.status > ITEM_STATUS.OPEN">
				<img class="margin-right-20" style="max-width: 60px; max-height: 60px; border-radius: 50%;" ng-src="{{ owner.picture || 'img/account.jpg' }}">
				<div>
					<p class="no-margin no-padding" style="font-size: 14px;">owner:</p>
					<p class="no-margin no-padding" style="font-size: 14px;">
						<p class="warn" style="cursor: pointer;" ng-click="goToProfile(owner.id)"> {{ owner.firstname }} {{ owner.lastname }}</p>
						<i style="font-size:16px;" ng-if="ctrl.isAllowed('changeOwner', item)" class="material-icons" ng-click="ctrl.changeOwner($event, item);">&#xE254;</i>
					</p>

				</div>
			</div>
			<p style="font-size: 14px; margin-top: -8px;">
				Status:
				<span style="line-height: 14px" class="md-subhead">
					{{item.status | itemStatusLabel}}
				</span>
			</p>
			<p style="font-size: 14px; margin-top: -8px;" data-ng-if="item.taskId">
				Kanbanize Id:
				<span style="line-height: 14px" class="md-subhead">
					{{item.taskId | itemStatusLabel}}
				</span>
			</p>
			<p style="font-size: 14px; margin-top: -8px;">
				Last Activity:
				<span style="line-height: 14px" class="md-subhead">
					{{item.mostRecentEditAt | date:'dd/MM/yyyy'}}
				</span>
			</p>
			<p class="font-size14" style="margin-top: -8px;">
				Current Value:
				<span data-ng-if="item.estimation" style="line-height: 14px;" class="md-subhead">{{item.estimation}}&nbsp;credits</span>
				<span data-ng-if="!item.estimation" style="line-height: 14px;" class="md-subhead">Yet to be estimated</span></p>
			<p class="font-size14" style="margin-top: -8px;">
				<span class="color-primary" ng-if="ctrl.isAllowed('showMyEstimation', item) && !yourEstimation">You've not estimated yet.</span>
				<span class="color-primary" ng-if="ctrl.isAllowed('showMyEstimation', item) && yourEstimation < 0">You've skipped the estimate.</span>
				<span class="color-primary" ng-if="ctrl.isAllowed('showMyEstimation', item) && yourEstimation > 0">Your estimation: {{yourEstimation}} credits</span>
			</p>
			<p class="font-size14" style="margin-top: -8px;" data-ng-if="showPriority(item)">
				Priority:
				<span style="line-height: 14px" class="md-subhead">
					{{item.position}}
				</span>
			</p>
			</div>
		</md-card-header-text>
	</md-card-header>
	<md-card-action layout="row" layout-align="end end" layout-xs="column">
		<p style="padding-right: 30px;" aria-label="Yet Voted" ng-if="ctrl.iVoted(item)">{{suggest}}</p>
		<md-button class="md-raised md-primary" aria-label="Start item" ng-if="ctrl.isAllowed('executeItem', item)" ng-click="ctrl.executeItem($event, item)" ng-disabled="loading">Start</md-button>
		<md-button class="md-raised md-primary" aria-label="Approve Idea" ng-if="ctrl.isAllowed('approveIdea', item)" ng-click="ctrl.openApproveIdea($event, item)" ng-disabled="loading">Vote</md-button>
		<md-button class="md-raised md-primary" aria-label="Join item" ng-if="ctrl.isAllowed('joinItem', item)" ng-click="ctrl.joinItem(item)" ng-disabled="loading">Join</md-button>
		<md-button class="md-raised md-primary" aria-label="Estimate item" ng-if="ctrl.isAllowed('estimateItem', item)" ng-click="ctrl.openEstimateItem($event, item)" ng-disabled="loading">Estimate</md-button>
		<md-button class="md-raised md-primary" aria-label="Complete item" ng-if="ctrl.isAllowed('completeItem', item)" ng-click="ctrl.completeItem($event, item)" ng-disabled="loading">Mark as Completed</md-button>
		<md-button class="md-raised md-primary" aria-label="Accept item" ng-if="ctrl.isAllowed('acceptItem', item)" ng-click="ctrl.acceptItem($event, item)" ng-disabled="loading">Vote for Acceptance</md-button>
		<md-button class="md-raised md-primary" aria-label="Assign shares" ng-if="ctrl.isAllowed('assignShares', item)" ng-click="ctrl.openAssignShares($event, item)" ng-disabled="loading">Assign Shares</md-button>
		<md-button class="md-raised md-primary" aria-label="Close item" ng-if="ctrl.isAllowed('closeItem', item)" ng-click="ctrl.closeItem(item)" ng-disabled="loading">Mark as Closed</md-button>
		<md-button class="md-raised md-primary" aria-label="Close item" ng-if="ctrl.isAllowed('unjoinItem', item)" ng-click="ctrl.unjoinItem(item)" ng-disabled="loading">Unjoin</md-button>
	</md-card-action>
	<md-divider></md-divider>
	<md-card-header>
		<md-card-header-text>
			<md-button class="md-raised md-primary" ng-if="ctrl.isAllowed('editItem', item)" ng-click="ctrl.openEditItem($event,item)" ng-disabled="loading">Edit this item</md-button>
		</md-card-header-text>
	</md-card-header>
	<md-divider></md-divider>
	<md-card-header>
		<md-card-header-text>
			<span style="font-size: 14px;" class="md-title">Description</span>
			<span style="font-size: 14px; line-height: 14px; color: gray; white-space: pre-line" class="md-subhead">
			{{item.description}}
		</span>
		</md-card-header-text>
	</md-card-header>
	<md-divider></md-divider>
	<md-card-header data-ng-if="members.length">
		<md-card-header-text>
			<span style="font-size: 14px;" class="md-title">Partecipants List</span>

			<md-list class="md-dense" ng-if="item.status != 50">
				<md-list-item ng-repeat="member in members" ng-init="m = member" ng-click="goToProfile(member.id)" class="md-2-line md-no-proxy"
				 style="padding:0;">
					<img alt="{{ member.firstname }} {{ member.lastname }}" ng-src="{{ member.picture || 'img/account.jpg' }}" class="md-avatar"
					/>
					<div class="md-list-item-text" layout="column">
						<h3 class="warn partecipantsListText">{{ member.firstname }} {{ member.lastname }}</h3>
						<p style="color:gray;">
							<!--({{ member.role }})-->
						</p>
					</div>
					<md-button class="md-icon-button" style="margin:0">
						<md-tooltip md-direction="top" ng-if="member.estimatedAt">Estimate At {{member.estimatedAt | date:"dd/MM/yyyy 'at' HH:mm"}}</md-tooltip>
						<md-tooltip md-direction="top" ng-if="!member.estimatedAt">Not yet estimated</md-tooltip>
						<md-icon ng-class="{'md-primary': member.estimatedAt}" class="material-icons">&#xE85C;</md-icon>
					</md-button>
					<md-button class="md-icon-button" style="margin:0">
						<md-tooltip md-direction="top" ng-if="member.shares">Shares assigned</md-tooltip>
						<md-tooltip md-direction="top" ng-if="!member.shares">Shares not yet assigned</md-tooltip>
						<md-icon ng-class="{'md-primary': member.shares}" class="material-icons">&#xE043;</md-icon>
					</md-button>
					<md-button class="md-secondary md-icon-button" aria-label="delete" ng-click="ctrl.removeTaskMember($event,item,member)" data-ng-if="ctrl.isAllowed('removeTaskMember', item.organization)" style="margin:0">
						<md-icon class="md-warn material-icons">delete</md-icon>
					</md-button>
				</md-list-item>
			</md-list>

			<md-list class="md-dense" ng-if="ctrl.isAllowed('showShares', item)">
				<md-list-item ng-repeat="member in members" ng-init="m = member" ng-click="goToProfile(member.id)" class="md-2-line md-no-proxy"
				 style="padding:0;">
					<img alt="{{ member.firstname }} {{ member.lastname }}" ng-src="{{ member.picture || 'img/account.jpg' }}" class="md-avatar"
					/>
					<div class="md-list-item-text" layout="column">
						<h3 class="warn" style="line-height: 1.2em;">{{ member.firstname }} {{ member.lastname }}</h3>
						<p style="line-height: 1.2em;"><strong>Credits: {{member.credits | creditFormatterFilter}}</strong><br /><i>(Share: {{member.share*100 | creditFormatterFilter}}% Gap: {{printGap(member.delta)}})</i></p>
						<md-progress-linear class="md-primary md-hue-2" md-mode="determinate" value="{{member.share*100}}"></md-progress-bar>
					</div>
				</md-list-item>
			</md-list>

		</md-card-header-text>
	</md-card-header>




	<md-divider></md-divider>
	<md-card-header ng-if="ctrl.isAllowed('addAttachment', item)">
		<md-card-header-text>
			<span style="font-size: 14px;" class="md-title">Attachments</span>
			<md-button class="md-raised md-primary" aria-label="Add" data-google-drive-picker data-on-file-select="ctrl.addAttachment(file)">Add</md-button>
			<div style="margin-top: -10px; margin-bottom: -15px;" layout="row" layout-align="space-between center" data-ng-repeat="a in attachments">
				<!--div da fare ng-repeat e mettere i log-->
				<p style=" font-size: 14px; color: gray; margin-left: 2px;">
					<a ng-href="{{a.url}}" target="_blank">{{a.name}}</a>
				</p>
				<md-button class="md-icon-button md-accent" aria-label="Delete" data-ng-click="ctrl.deleteAttachment(a)">
					<md-icon class="material-icons" aria-label="delete">delete</md-icon>
				</md-button>
			</div>
		</md-card-header-text>
	</md-card-header>
	<md-divider></md-divider>
	<md-card-header>
		<md-card-header-text>
			<span style="font-size: 14px;" class="md-title">Activity Log</span>
			<div style="margin-top: -10px; margin-bottom: -15px;" layout="row" data-ng-repeat="h in history">
				<p style=" font-size: 14px; color: gray; margin-left: 2px;">{{h | logActivityFilter}}</p>
			</div>
		</md-card-header-text>
	</md-card-header>
</md-card>

<div style="height:48px;"></div>