<md-progress-linear data-ng-if="loadingItems" md-mode="query"></md-progress-linear>

<div class="kanban kanban--edit">

  <div class="kanban__lane" ng-repeat="lane in kanbanItems" ng-class="{'kanban__lane--even':$odd}">
    <div class="kanban__lane__title">{{lane.name}}</div>

    <item-kanban-edit-priority-column active="false" column-title="idea" column-items="lane.cols[ITEM_STATUS.IDEA]" my-id="currentUserId"></item-kanban-edit-priority-column>
    <item-kanban-edit-priority-column active="true" column-title="open" on-finish-order="getSortedItems('lane_'+$index, sortedItems)" column-items="lane.cols[ITEM_STATUS.OPEN]" my-id="currentUserId"></item-kanban-edit-priority-column>
    <item-kanban-edit-priority-column active="false" column-title="ongoing" column-items="lane.cols[ITEM_STATUS.ONGOING]" my-id="currentUserId"></item-kanban-edit-priority-column>
    <item-kanban-edit-priority-column active="false" column-title="completed" column-items="lane.cols[ITEM_STATUS.COMPLETED]" my-id="currentUserId"></item-kanban-edit-priority-column>
    <item-kanban-edit-priority-column active="false" column-title="accepted" column-items="lane.cols[ITEM_STATUS.ACCEPTED]" my-id="currentUserId"></item-kanban-edit-priority-column>
    <item-kanban-edit-priority-column active="false" column-title="closed" column-items="lane.cols[ITEM_STATUS.CLOSED]" my-id="currentUserId"></item-kanban-edit-priority-column>
  </div>

</div>

<div class="space-at-end"></div>
