<div data-ng-if="menu.open" class="tooltip" style=" width: 120px;right:85px;bottom: 142px;">
    Create Work Item
</div>
<div data-ng-if="menu.open" class="tooltip" style=" width: 120px;right:85px;bottom: 194px;">
    Create Decision Item
</div>
<md-fab-speed-dial md-open="menu.open" md-direction="up" class="md-scale ora-fab" ng-if="lanes && !decisions">
    <md-fab-trigger>
        <md-button aria-label="Item Menu" class="md-fab md-warn md-hue-1">
            <md-icon md-svg-icon="add"></md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button aria-label="New Item" class="md-fab md-raised md-mini" ng-click="ctrl.openNewItem($event, false, 'workItem')"
            ng-if="ctrl.isAllowed('createItem', organization)">
            <md-icon md-svg-icon="addItem" title="New Item" style="color: black"></md-icon>
        </md-button>
        <md-button aria-label="New Decision" class="md-fab md-raised md-mini" ng-click="ctrl.openNewItem($event, true, 'decisionItem')"
            ng-if="ctrl.isAllowed('createItem', organization)">
            <i class="material-icons" title="New Item" style="margin-top: 6px; color: black">&#xE90E;</i>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>




<md-toolbar class="filterBar" style="min-height:37px">
    <div class="md-toolbar-tools" style="height:37px">
        <md-button aria-label="Filter" ng-click="showFilter=!showFilter">
            <md-icon class="material-icons">&#xE152;</md-icon> <span style="text-transform: uppercase;font-size: 10px;font-weight:600">Filter items</span>
        </md-button>
        <h2 flex></h2>
        <md-button aria-label="Filter" ng-click="showOrder=!showOrder">
            <span style="text-transform: uppercase;font-size: 10px;font-weight:600">Sort items</span>
            <md-icon class="material-icons">&#xE164;</md-icon>
        </md-button>
    </div>
</md-toolbar>



<md-content class="filterBar" style="padding:12px" ng-show="showFilter">
    <div layout="row">
        <div flex>
            <span class="font-size12" style="text-transform: uppercase;font-size: 10px;font-weight:600">by status</span>
            <span style="display: inline-block; position:relative;padding:2px;vertical-align:middle" class="font-size12">
                <md-select ng-model="filters.status" style="margin:0">
                    <md-option selected ng-value="All">All</md-option>
                    <md-option ng-repeat="status in ITEM_STATUS" ng-value="status">{{ status | itemStatusLabel }}
                    </md-option>
                </md-select>
            </span>
            <span class="font-size12"> and </span>
            <span style="display: inline-block; position:relative;padding:2px;vertical-align:middle" class="font-size12">
                <md-select ng-model="filters.memberId" placeholder="All Items" style="margin:0">
                    <md-option selected ng-value="">All Items</md-option>
                    <md-option ng-value="currentUserId">My Items</md-option>
                </md-select>
            </span>
        </div>
        <div style="max-width:40px">
            <md-button class="md-icon-button" aria-label="chiudi" ng-click="showFilter=false">
                <md-icon style="color:rgba(0,0,0,0.87);" class="material-icons font-size20">&#xE5CD;</md-icon>
            </md-button>
        </div>
    </div>
</md-content>
<md-content class="filterBar" style="padding:12px" ng-show="showOrder">
    <div layout="row">
        <div flex>
            <span style="text-transform: uppercase;font-size: 10px;font-weight:600">by</span>
            <span style="display: inline-block; position:relative;padding:2px;vertical-align:middle;cursor:pointer" class="font-size12"
                ng-click="ctrl.invertUpdateTime()">Update Time</span>
            <md-button style="margin-left:0px;padding-left:0px;" class="md-icon-button" ng-click="ctrl.invertUpdateTime()">
                <md-icon data-ng-if="!changeUpdateTime" style="margin-top:4px;margin-left:0px;padding-left:0px;font-size: 18px; color: black;"
                    class="material-icons">
                    &#xE313;</md-icon>
                <md-icon data-ng-if="changeUpdateTime" style="margin-top:4px;margin-left:0px;padding-left:0px;font-size: 18px; color: black;"
                    class="material-icons">
                    &#xE316;</md-icon>
            </md-button>
        </div>
        <div style="max-width:40px">
            <md-button class="md-icon-button" aria-label="chiudi" ng-click="showOrder=false">
                <md-icon style="color:rgba(0,0,0,0.87);" class="material-icons font-size20">&#xE5CD;</md-icon>
            </md-button>
        </div>
    </div>

</md-content>

<p>QUI IL KANBAN</p>


<md-progress-linear data-ng-if="loadingItems" md-mode="query"></md-progress-linear>

<div class="space-at-end"></div>