<div data-ng-if="menu.open" class="tooltip" style=" width: 120px;right:85px;bottom: 142px;">Create Work Item</div>
<div data-ng-if="menu.open" class="tooltip" style=" width: 120px;right:85px;bottom: 194px;">Create Decision Item</div>
<md-fab-speed-dial md-open="menu.open" md-direction="up" class="md-scale ora-fab" ng-if="lanes && !decisions">
  <md-fab-trigger>
    <md-button aria-label="Item Menu" class="md-fab md-warn md-hue-1">
      <md-icon md-svg-icon="add"></md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button aria-label="New Item" class="md-fab md-raised md-mini" ng-click="openNewItem($event, false, 'workItem')" ng-if="isAllowed('createItem', organization)">
      <md-icon md-svg-icon="addItem" title="New Item" style="color: black"></md-icon>
    </md-button>
    <md-button aria-label="New Decision" class="md-fab md-raised md-mini" ng-click="openNewItem($event, true, 'decisionItem')"
      ng-if="isAllowed('createItem', organization)">
      <i class="material-icons" title="New Item" style="margin-top: 6px; color: black">&#xE90E;</i>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>

<md-progress-linear data-ng-if="loadingItems" md-mode="query"></md-progress-linear>

<div class="kanban">
  <div class="kanban__lane" ng-repeat="(lcid, lane) in kanbanItems" ng-class="{'kanban__lane--even':$odd, 'kanban__lane--itemwithoutlane': (lcid=='-1')}" ng-if="!loadingItems || (lcid !== '-1')">
    <div class="kanban__lane__title">{{lane.name}}</div>
    <item-kanban-column column-title="idea" column-items="lane.cols[ITEM_STATUS.IDEA]" my-id="currentUserId"></item-kanban-column>
    <item-kanban-column column-title="open" column-items="lane.cols[ITEM_STATUS.OPEN]" my-id="currentUserId" priority-managed="priorityManaged"></item-kanban-column>
    <item-kanban-column column-title="ongoing" column-items="lane.cols[ITEM_STATUS.ONGOING]" my-id="currentUserId"></item-kanban-column>
    <item-kanban-column column-title="completed" column-items="lane.cols[ITEM_STATUS.COMPLETED]" my-id="currentUserId"></item-kanban-column>
    <item-kanban-column column-title="accepted" column-items="lane.cols[ITEM_STATUS.ACCEPTED]" my-id="currentUserId"></item-kanban-column>
    <item-kanban-column column-title="closed" column-items="lane.cols[ITEM_STATUS.CLOSED]" my-id="currentUserId"></item-kanban-column>
    <div style="position:absolute; bottom:0;left:0;cursor:pointer;color: rgba(0,0,0,0.5);font-size: 11px;font-weight: 500;text-transform: uppercase;line-height: 30px;margin-left:5px" ng-click="goToRejectedItems()"><i class="material-icons" style="font-size: 14px;vertical-align: text-top;">&#xE314;</i> Show Rejected Items</div>
  </div>

</div>

<div class="space-at-end"></div>
