<md-list-item>
    <p>{{lane.lcname}}<br/><span class="md-caption">contains {{lane.lcitems}} items</span></p>
    <md-button class="md-secondary md-icon-button" aria-label="Edit" ng-click="edit()">
        <md-icon class="material-icons" aria-label="edit">edit</md-icon>
    </md-button>
    <md-button class="md-secondary md-icon-button md-warn" aria-label="Delete" data-ng-click="remove()">
        <md-icon class="material-icons" aria-label="delete">delete</md-icon>
    </md-button>
    <md-divider></md-divider>
</md-list-item>