<md-dialog aria-label="Secondary Emails">
	<form name="form" ng-submit="submit()" novalidate>
		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
				<h2>Secondary Emails</h2>
                <md-input-container>
					<label>One email per line</label>
					<textarea data-ng-model="profile.secondaryEmails" name="emails" split-array></textarea>
				</md-input-container>
				<small>Insert valid Google emails address</small>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row" layout-align="end center">
			<md-button type="button" ng-click="cancel()">Cancel</md-button>
			<md-button type="submit" style="margin-right:20px;" class="md-primary" ng-disabled="form.$invalid">Submit</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
