<md-dialog aria-label="New Withdrawal">
	<form name="form" ng-submit="dialogCtrl.submit()" novalidate>
		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
				<h4>New Withdrawal</h4>
				<md-input-container>
					<label>Credits</label>
					<input type="number" min="0" required data-ng-model="withdrawal.amount" name="amount">
					<div ng-messages="form.amount.$error" role="alert">
						<div ng-message="required">Credits is required</div>
						<div ng-message="min">Credits must be greater than 0</div>
						<div ng-message="remote">{{ form.amount.$error.remote }}</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>Description</label>
					<input type="text" maxlength="256" required data-ng-model="withdrawal.description" name="description">
					<div ng-messages="form.stream.$error" role="alert">
						<div ng-message="maxlength">Description can be 256 characters long at most</div>
					</div>
				</md-input-container>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row" layout-align="end center">
			<md-button type="button" ng-click="dialogCtrl.cancel()" ng-if="!saving">Cancel</md-button>
			<md-button type="submit" style="margin-right:20px;" class="md-primary" ng-if="!saving" ng-disabled="form.$invalid">Submit</md-button>
			<md-progress-circular  style="margin-right:10px;" ng-if="saving" md-mode="indeterminate"></md-progress-circular>
		</md-dialog-actions>
	</form>
</md-dialog>
